:root{
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.btn-label {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.btn-label:active{
    background-color: #ccc;
}

.btn-label.double {
    grid-column: span 2;
}

.btn-label.triple {
    grid-column: span 3;
}

.btn-label.operation{
    background-color: #fa8231;
    color: #fff;
}

.btn-label.operation:active{
    background-color: #fa8231cc;
    color: #fff;
}