.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ECE2E2;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.title{
    display: flex;
    gap: 5px;
}
.title h1 span{
    font-size: 1rem;
    opacity: 0.5;
    font-weight: 100;
}

.cards-container{
    display: flex;
    gap: 20px;
}
