body, html{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #1C1F33;
    color: #fff;
}